<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0">
	<channel>
		<title>Laura's events</title>
		<link>https://duffle.one/social/events.html?kink</link>
		<description>List of events Laura is attending</description>
		<language>en-gb</language>
	</channel>

			<item>
			<title>KV - E1</title>
			<link>https://klubverboten.com/dates</link>
							<category>Kink</category>
						<description>
				KV - E1,
				Date: Mar 17,
				Location: London 🇬🇧,
				Status: Confirmed			</description>
			<enclosure url="https://duffle.one/social/assets/images/events/kv.png" length="410524" type="image/png" />
		</item>
			<item>
			<title>Pedestal</title>
			<link>https://www.clubpedestal.com/main.html</link>
							<category>Kink</category>
						<description>
				Pedestal,
				Date: Mar 30,
				Location: London 🇬🇧,
				Status: Confirmed			</description>
			<enclosure url="https://duffle.one/social/assets/images/events/pedestal.gif" length="1938" type="image/gif" />
		</item>
			<item>
			<title>Le Boutique Bazaar</title>
			<link>https://dice.fm/partner/le-boutique-bazaar/event/96ypd-le-boutique-bazaar-wild-spring-2nd-apr-fyeo-london-tickets</link>
							<category>Kink</category>
						<description>
				Le Boutique Bazaar,
				Date: Apr 2,
				Location: London 🇬🇧,
				Status: Confirmed			</description>
			<enclosure url="https://duffle.one/social/assets/images/events/lbb.avif" length="24730" type="image/avif" />
		</item>
			<item>
			<title>LAM</title>
			<link>https://londonalternativemarket.com/</link>
							<category>Kink</category>
						<description>
				LAM,
				Date: Apr 2,
				Location: London 🇬🇧,
				Status: Confirmed			</description>
			<enclosure url="https://duffle.one/social/assets/images/events/lam.webp" length="52848" type="image/webp" />
		</item>
			<item>
			<title>KV - TEARS FOR BEERS</title>
			<link>https://klubverboten.com/dates</link>
							<category>Kink</category>
						<description>
				KV - TEARS FOR BEERS,
				Date: Apr 5,
				Location: London 🇬🇧,
				Status: Confirmed			</description>
			<enclosure url="https://duffle.one/social/assets/images/events/kv.png" length="410524" type="image/png" />
		</item>
			<item>
			<title>Club AntiChrist - 19th Birthday</title>
			<link>https://www.clubantichrist.co.uk/events/19thbirthday</link>
							<category>Kink</category>
						<description>
				Club AntiChrist - 19th Birthday,
				Date: May 12,
				Location: London 🇬🇧,
				Status: Confirmed			</description>
			<enclosure url="https://duffle.one/social/assets/images/events/ac.png" length="804019" type="image/png" />
		</item>
			<item>
			<title>Naughties London</title>
			<link>https://fetlife.com/events/1267189</link>
							<category>Kink</category>
						<description>
				Naughties London,
				Date: May 19,
				Location: London 🇬🇧,
				Status: Confirmed			</description>
			<enclosure url="https://duffle.one/social/assets/images/events/blank.png" length="899657" type="image/png" />
		</item>
			<item>
			<title>MCM Comic Con</title>
			<link>https://www.mcmcomiccon.com/london/en-us/home.html</link>
						<description>
				MCM Comic Con,
				Date: May 26 - 28,
				Location: London 🇬🇧,
				Status: Confirmed			</description>
			<enclosure url="https://duffle.one/social/assets/images/events/comiccon.png" length="12071" type="image/png" />
		</item>
			<item>
			<title>Club Labrys</title>
			<link>https://www.bizarre-events.com/club-labrys</link>
							<category>Kink</category>
						<description>
				Club Labrys,
				Date: June 2,
				Location: London 🇬🇧,
				Status: Pending			</description>
			<enclosure url="https://duffle.one/social/assets/images/events/clublabrys.webp" length="108044" type="image/webp" />
		</item>
			<item>
			<title>The Big One - Club o&I/LAM</title>
			<link>https://fetlife.com/events/1241601</link>
							<category>Kink</category>
						<description>
				The Big One - Club o&I/LAM,
				Date: Aug 13,
				Location: Kent 🇬🇧,
				Status: Pending			</description>
			<enclosure url="https://duffle.one/social/assets/images/events/lam.webp" length="52848" type="image/webp" />
		</item>
	</rss>

