<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0">
	<channel>
		<title>Laura's events</title>
		<link>https://duffle.one/events.html?kink</link>
		<description>List of events Laura is attending</description>
		<language>en-gb</language>
	</channel>

			<item>
			<title>Decadence</title>
			<link>https://fetlife.com/events/1280594?sp=197</link>
							<category>Kink</category>
						<description>
				Decadence,
				Date: Jun 17,
				Location: London 🇬🇧,
				Status: Confirmed			</description>
			<enclosure url="https://duffle.one/assets/images/events/decadence.png" length="790169" type="image/png" />
		</item>
			<item>
			<title>DEBAUCHERY</title>
			<link>https://fetlife.com/events/1260555</link>
							<category>Kink</category>
						<description>
				DEBAUCHERY,
				Date: Jun 24,
				Location: London 🇬🇧,
				Status: Confirmed			</description>
			<enclosure url="https://duffle.one/assets/images/events/dby.jpeg" length="94171" type="image/jpeg" />
		</item>
			<item>
			<title>Play+munch</title>
			<link>https://fetlife.com/events/1305783</link>
							<category>Kink</category>
						<description>
				Play munch,
				Date: Jun 27,
				Location: London 🇬🇧,
				Status: Pending			</description>
			<enclosure url="https://duffle.one/assets/images/events/blank.png" length="899657" type="image/png" />
		</item>
			<item>
			<title>LAM</title>
			<link>https://londonalternativemarket.com/</link>
							<category>Kink</category>
						<description>
				LAM,
				Date: Jul 2,
				Location: London 🇬🇧,
				Status: Confirmed			</description>
			<enclosure url="https://duffle.one/assets/images/events/lam.webp" length="52848" type="image/webp" />
		</item>
			<item>
			<title>KV+-+TEARS+FOR+BEERS</title>
			<link>https://klubverboten.com/dates</link>
							<category>Kink</category>
						<description>
				KV - TEARS FOR BEERS,
				Date: Jul 5,
				Location: London 🇬🇧,
				Status: Confirmed			</description>
			<enclosure url="https://duffle.one/assets/images/events/kv.png" length="410524" type="image/png" />
		</item>
			<item>
			<title>Naughties</title>
			<link>https://fetlife.com/events/1283417</link>
							<category>Kink</category>
						<description>
				Naughties,
				Date: Jul 8,
				Location: London 🇬🇧,
				Status: Confirmed			</description>
			<enclosure url="https://duffle.one/assets/images/events/blank.png" length="899657" type="image/png" />
		</item>
			<item>
			<title>%F0%9F%8F%B3%EF%B8%8F%E2%80%8D%E2%9A%A7%EF%B8%8F+Pride</title>
			<link></link>
						<description>
				🏳️‍⚧️ Pride,
				Date: Jul 14,
				Location: Brighton 🇬🇧,
				Status: Confirmed			</description>
			<enclosure url="https://duffle.one/assets/images/events/brighton.jpeg" length="2152301" type="image/jpeg" />
		</item>
			<item>
			<title>Club+Pedestal</title>
			<link>https://www.clubpedestal.com/main.html</link>
							<category>Kink</category>
						<description>
				Club Pedestal,
				Date: Jul 27,
				Location: London 🇬🇧,
				Status: Pending			</description>
			<enclosure url="https://duffle.one/assets/images/events/pedestal.gif" length="1938" type="image/gif" />
		</item>
			<item>
			<title>Club+Labrys</title>
			<link>https://www.bizarre-events.com/club-labrys</link>
							<category>Kink</category>
						<description>
				Club Labrys,
				Date: Aug 11,
				Location: London 🇬🇧,
				Status: Pending			</description>
			<enclosure url="https://duffle.one/assets/images/events/clublabrys.webp" length="108044" type="image/webp" />
		</item>
			<item>
			<title>The+Big+One+-+Club+o%26I%2FLAM</title>
			<link>https://fetlife.com/events/1241601</link>
							<category>Kink</category>
						<description>
				The Big One - Club o&I/LAM,
				Date: Aug 13,
				Location: Kent 🇬🇧,
				Status: Pending			</description>
			<enclosure url="https://duffle.one/assets/images/events/lam.webp" length="52848" type="image/webp" />
		</item>
	</rss>

