<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0">
	<channel>
		<title>Laura's events</title>
		<link>https://duffle.one/events.html?kink</link>
		<description>List of events Laura is attending</description>
		<language>en-gb</language>
	</channel>

			<item>
			<title>Charm+Skool+Pop+Up</title>
			<link>https://www.eventbrite.co.uk/e/charmskool-erotic-pop-up-shop-social-tickets-638781080407</link>
							<category>Kink</category>
						<description>
				Charm Skool Pop Up,
				Date: Jun 10,
				Location: London 🇬🇧,
				Status: Confirmed			</description>
			<enclosure url="https://duffle.one/assets/images/events/charmskool.jpeg" length="163468" type="image/jpeg" />
		</item>
			<item>
			<title>Naughties</title>
			<link>https://fetlife.com/events/1291166</link>
							<category>Kink</category>
						<description>
				Naughties,
				Date: Jun 10,
				Location: London 🇬🇧,
				Status: Confirmed			</description>
			<enclosure url="https://duffle.one/assets/images/events/blank.png" length="899657" type="image/png" />
		</item>
			<item>
			<title>Torture+Garden+-+June+Ball</title>
			<link>https://www.torturegarden.com/tg-june-ball-2/</link>
							<category>Kink</category>
						<description>
				Torture Garden - June Ball,
				Date: Jun 16,
				Location: London 🇬🇧,
				Status: Unlikely			</description>
			<enclosure url="https://duffle.one/assets/images/events/torture-garden.jpg" length="285263" type="image/jpeg" />
		</item>
			<item>
			<title>Decadence</title>
			<link>https://fetlife.com/events/1280594?sp=197</link>
							<category>Kink</category>
						<description>
				Decadence,
				Date: Jun 17,
				Location: London 🇬🇧,
				Status: Confirmed			</description>
			<enclosure url="https://duffle.one/assets/images/events/decadence.png" length="790169" type="image/png" />
		</item>
			<item>
			<title>LAM</title>
			<link>https://londonalternativemarket.com/</link>
							<category>Kink</category>
						<description>
				LAM,
				Date: Jul 2,
				Location: London 🇬🇧,
				Status: Confirmed			</description>
			<enclosure url="https://duffle.one/assets/images/events/lam.webp" length="52848" type="image/webp" />
		</item>
			<item>
			<title>Brighton</title>
			<link></link>
						<description>
				Brighton,
				Date: Jul 14,
				Location: Brighton 🇬🇧,
				Status: Confirmed			</description>
			<enclosure url="https://duffle.one/assets/images/events/brighton.jpeg" length="2152301" type="image/jpeg" />
		</item>
			<item>
			<title>The+Big+One+-+Club+o%26I%2FLAM</title>
			<link>https://fetlife.com/events/1241601</link>
							<category>Kink</category>
						<description>
				The Big One - Club o&I/LAM,
				Date: Aug 13,
				Location: Kent 🇬🇧,
				Status: Pending			</description>
			<enclosure url="https://duffle.one/assets/images/events/lam.webp" length="52848" type="image/webp" />
		</item>
	</rss>

