@import "tailwindcss" source("../src");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.banner-image {
		background-image: url('img/banner.jpg');
		background-position: center 50%;
	}

	.banner-mask {
		-webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 85%);
		mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 85%);
	}

	.portrait-pos {
		object-position: center 28%;
	}
}

@layer base {
	html {
		font-family: "Nunito", sans-serif;
	}
}
